<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <div class="jombotron">
  	<div class="container">
		{% include "navbar1.html" %}
		  
		{% extends 'layoutus.html' %}
		{% block body %}


    
        <p>This is a group project entitled "Water Quality Monitoring System". It is a low cost monitoring system that measures the water quality in respective required time basis. It measures two of the most importatnt parameters i.e pH and Conductivity determining the water quality. We have also calibrated our sensors for the reliable and better results. Our project aims to give continuous measurement on water quality and also alerts the user for any deviation in the water quality and provides the remidial solution when the deviation occurs. </p>
        <p>
          For the further enhanchement of this project we will try to broaden our parameters. 
        </p>
    </div>

{% endblock %}
</head>
</html>