<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Water Quality...</title>

    <!-- Bootstrap core CSS -->
    

    <!-- Custom styles for this template -->
    
  </head>
    <body style="padding-top:60px">
        <div class="container">
         
          {% block body %}{% endblock %}


        </div>
    <footer class="container">
      <p>&copy; Thapathali 2019</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    </script>
    
  </body>
</html>
